.md-container {
  background-color: #0d0816;
}

.md-header {
  height: 80px;
  /* background-image: linear-gradient(to right, #7d51c4, #d848ad, #fd4f78, #f5b43b, #f5f52e); */
  /* background: radial-gradient(circle, rgba(195, 34, 145, 1) 0%, rgba(253, 114, 45, 1) 100%); */
  background: linear-gradient(to right,
      #0d0816 40%,
      #e7b67e 40% 50%,
      #e4e48c 50% 60%,
      #96ee96 60% 70%,
      #8adcff 70% 80%,
      #9595e9 80% 90%,
      #e667aa 90%);

  color: rgb(18, 1, 11);
}

strong {
  color: #df2572;
}

em {
  color: #96ee96;
}

.md-nav--primary .md-nav__title {
  background: #f34960;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 2px;
  box-shadow: none;

  color: black;
  font-weight: bold;
}

.md-nav--secondary .md-nav__title {
  background: #f34960;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 2px;
  box-shadow: none;

  color: black;
  font-weight: bold;
}

.md-header__topic {
  color: white;
  text-decoration: none !important;
}

.md-header__content {
  height: 80px;
}

.md-header__topic {
  font-size: 32px;
  text-decoration: underline;
}

.md-header__button.md-logo img,
.md-header__button.md-logo svg {
  height: 60px;
}

.md-grid {
  max-width: 85rem;
}

.md-nav__item .md-nav__link--active {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 2px;

  color: black;
  font-weight: bold;
  text-decoration: underline;

  background: linear-gradient(90deg,
      #e4e48c 80%,
      #96ee96 80% 85%,
      #8adcff 85% 90%,
      #9595e9 90% 95%,
      #e667aa 95% 100%);
}

.doc .doc-heading {
  font-size: x-large;
}

.doc .doc-heading code {
  background: none !important;
}

/* Code */
:root>* {
  /* Foreground, background, and line highlight colors */
  --md-code-fg-color: #e6eb9f;
  /* Foreground color */
  --md-code-bg-color: #131010;
  /* Background color */
  --md-code-hl-color: #e4e48c;
  /* Line highlight color */

  /* Syntax highlighting colors */
  --md-code-hl-number-color: #7d51c4;
  --md-code-hl-special-color: #d848ad;
  --md-code-hl-function-color: #fd4f78;
  --md-code-hl-constant-color: #f5b43b;
  --md-code-hl-keyword-color: #f34960;
  --md-code-hl-string-color: #e7b67e;
  --md-code-hl-name-color: #96ee96;
  --md-code-hl-operator-color: #8adcff;
  --md-code-hl-punctuation-color: #9595e9;
  --md-code-hl-comment-color: #e667aa;
  --md-code-hl-generic-color: #df2572;
  --md-code-hl-variable-color: #f34960;
}

pre code {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  border-radius: 10px !important;
  /* border-bottom: solid 8px #df2572; */
  padding: 1rem !important;
}

/* Table Styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0;
  background-color: #0d0816 !important;
  color: #e6eb9f;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
}

th,
td {
  padding: 0.5em 1em;
  text-align: center;
  /* border-bottom: 1px solid #9595e9; */
}

/* th {
  background-color: #f34960;
  color: black;
  font-weight: bold;
} */

/* tr:nth-child(even) {
  background-color: #1a1a1a;
} */

tr:hover {
  background-color: none;
}

/* Remove border-bottom for last row */
tr:last-child td {
  border-bottom: none;
}